@keyframes marquee {
    0% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(-10%);
    }
    100%{
        transform: translateX(10%);
    }
  }
  
  .animate-marquee {
    animation: marquee 8s linear infinite;
  }
  .animate-marquee:hover{
    animation-play-state: paused;
  }